Source: @obs.package.name@
Section: contrib/interpreters
Priority: optional
Maintainer: @project.developer.name@ <@project.developer.email@>
Build-Depends:
	debhelper (>=10),
	openjdk-21-jdk-headless,
	openjdk-21-doc,
	javacc,
	junit4 (>=4.11),
	ant-optional,
	ivy-debian-helper,
	libclianthus-java,
	libclianthus-java-doc,
	libjline-java,
	libjline-java-doc,
	libxslthl-java,
	docbook-xsl-ns (>=1.79),
	docbook-mathml,
	docbook-xsl-saxon,
	libxml-commons-resolver1.1-java,
	sassc,
	graphviz,
Vcs-Git: @project.scm.url@.git
Vcs-Browser: @project.scm.url@
Homepage: @project.url@

Package: @obs.package.name@
Architecture: all
Depends:
	debhelper (>=10),
	openjdk-21-jre-headless,
	javacc,
	junit4 (>=4.11),
	ant-optional,
	libclianthus-java,
	libjline-java,
	java-wrappers
Suggests: @obs.package.name@-doc
Description: @obs.package.summary@
	Psylla is scriptable interpretive concatenative homoiconic PostScript-like programming language.
	This package contains extensible and embeddable Psylla implementation written in Java.

Package: @obs.package.name@-doc
Architecture: all
Section: doc
Depends: debhelper (>=10),
Recommends:
	ant-doc,
	ant-optional,
	libclianthus-java-doc,
	openjdk-21-doc,
Description: Psylla programming language (documentation)
	This package contains documentation for @obs.package.name@.
