Source: @obs.package.name@
Section: contrib/interpreters
Priority: optional
Maintainer: Anton Shvetz <shvetz.anton@gmail.com>
Build-Depends: debhelper (>=9),
	perl-base (>=5.18.2),
	openjdk-11-jdk-headless,
	openjdk-11-doc,
	javacc,
	junit4 (>=4.11),
	ant,
	ant-optional,
	libjline-java,
	libjline-java-doc,
	docbook-xsl-ns (>=1.79),
	docbook-mathml,
	docbook-xsl-saxon,
	libxslthl-java,
	sassc,
	libxerces2-java,
	graphviz
Vcs-Git: https://github.com/urbic/@obs.package.name@.git
Vcs-Browser: https://github.com/urbic/@obs.package.name@
Homepage: https://github.com/urbic/@obs.package.name@

Package: @obs.package.name@
Architecture: all
Depends: debhelper (>=9),
	openjdk-11-jre-headless,
	javacc,
	junit4 (>=4.11),
	ant-optional,
	libjline-java,
	java-wrappers
Suggests: @obs.package.name@-doc
Description: @obs.package.summary@
	Psylla is scriptable interpretive concatenative homoiconic PostScript-like programming language.
	This package contains extensible and embeddable Psylla implementation written in Java.

Package: @obs.package.name@-doc
Architecture: all
Section: doc
Depends: debhelper (>=9),
Recommends:
	openjdk-11-doc,
	ant-doc,
	ant-optional,
Description: Psylla programming language (documentation)
	This package contains documentation for @obs.package.name@.
