#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=10

CFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	[ "$(DEB_BUILD_ARCH)" = armv7l ] \
		&& sed -i -e 's/2\.718281828459045/2\.7182818284590455/' \
			src/test/psylla/operators/exp/general.t.out
	LC_ALL=C.UTF-8 CLASSPATH=/usr/share/java/xercesImpl.jar ant -v \
		-Ddestdir=$(DESTDIR) \
		-Dconfig.docdir=/usr/share/doc \
		-Dconfig.psylla.docdir=/usr/share/doc/psylla \
		-Dconfig.psylla.javadocdir=/usr/share/doc/psylla/api \
		-Dconfig.psylla.licensedir=/usr/share/doc/psylla \
		-Dlinux.flavour=debian \
		build
	# --- end custom part for compiling
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	LC_ALL=C.UTF-8 CLASSPATH=/usr/share/java/xercesImpl.jar ant \
		-Dlinux.flavour=debian \
		test
endif

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	ant clean
	# --- end custom part for cleaning up

	dh_clean

DESTDIR = /usr/src/packages/BUILD/debian/tmp

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package
	# The DESTDIR Has To Be Exactly  /usr/src/packages/BUILD/debian/<nameOfPackage>
	LC_ALL=C.UTF-8 CLASSPATH=/usr/share/java/xercesImpl.jar ant \
		-Ddestdir=$(DESTDIR) \
		-Dconfig.docdir=/usr/share/doc \
		-Dconfig.psylla.docdir=/usr/share/doc/psylla \
		-Dconfig.psylla.javadocdir=/usr/share/doc/psylla/api \
		-Dconfig.psylla.licensedir=/usr/share/doc/psylla \
		-Dlinux.flavour=debian \
		install
	ln -s LICENSE $(DESTDIR)/usr/share/doc/psylla/copyright
	dh_install
	# --- end custom part for installing

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
