@namespace url("http://www.w3.org/1999/xhtml");

$background-color-body: lightgray;
$background-color-hf: darken($background-color-body, 10%);
//$color-body: darken(#4dcaaf, 25%);
//$background-color-hf: darken(#4dcaaf, 25%);
$color-body: darken($background-color-body, 50%);

html
{
	height: 100%;
}

body
{
	background-color: $background-color-body;
	color: #333;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2pc;
	margin-top: 6pc;
	margin-left: 25%;
	margin-right: 25%;

	.large
	{
		font-size: 1.6pc;
	}
}

h4
{
	margin-bottom: .6pc;
}

header
{
	width: 100%;
	background-color: $background-color-hf;
	font-family: "Source Sans PRO", serif;
	position: fixed;
	left: 0%;
	right: 0%;
}

header
{
	top: 0%;
	font-size: 1.2pc;
	font-family: "Source Sans Pro", sans-serif;
	#header-links
	{
		padding: .5pc 1pc .5pc .5pc;
		float: right;
		a
		{
			margin-left: .75pc;
			text-decoration: none;
			padding: .25pc;
			color: $color-body;
			font-family: "Source Sans Pro";
			&:hover
			{
				color: $background-color-body;
				background-color: $color-body;
			}
		}
	}
	#header-logo
	{
		padding: .5pc 1pc .5pc .5pc;
		margin-left: 1pc;
		float: left;
		font-weight: bold;
		span
		{
			padding: .25pc;
		}
		img
		{
			height: 1.6pc;
			display: inline-block;
			vertical-align: top;
		}
		#version
		{
			font-weight: lighter;
			font-size: x-small;
		}
	}
}

ul
{
	list-style-type: square;
}
