@namespace url("http://www.w3.org/1999/xhtml");
@namespace url("http://www.w3.org/1999/xhtml");
.hl-string, .hl-number, .hl-value { color: steelblue; }

.hl-keyword { font-weight: bolder; color: #2f8d59; }

.hl-comment { color: #999; }

.hl-directive, .hl-sharpBang { color: #777; }

.hl-attribute { color: #073; }

.hl-tag { font-weight: bolder; color: #039; }

.hl-variable { color: #042; }

.hl-doctype { color: #505; }

.hl-annotation { color: #777; }

.hl-structure { color: #226741; font-weight: bold; }

html { background-color: white; height: 100%; }

body { position: static; overflow: auto; font-size: 17px; max-width: auto; min-height: 100%; margin: 0pc auto 0pc 25%; top: 0px; bottom: 0px; font-family: "PT Sans", sans-serif; tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4; }

body > * { margin: 0 4pc 0 4pc; }

p { text-align: justify; hyphens: auto; -moz-hyphens: auto; -o-hyphens: auto; -webkit-hyphens: auto; }

h1, h2, h3, h4, h5, h6 { color: #2a675b; }

h4 { font-size: 100%; }

h3 { font-size: 120%; }

h2 { font-size: 144%; }

h1 { font-size: 172.8%; }

:link { color: royalblue; text-decoration: none; }

:visited { color: royalblue; }

:link:hover { text-decoration: underline; }

hr { border: solid #2a675b 1px; }

.navfooter, .navheader { font-size: smaller; background-color: #73C6B6; }

.navheader { border-radius: 0 0 15px 15px; }

.navfooter { border-radius: 15px 15px 0 0; }

.toc dl { margin-top: 0px; margin-bottom: 0px; }

.literal { font-weight: bold; }

.programlisting, .screen, .literallayout, .sgmltag-element, .sgmltag-attribute, .sgmltag-attvalue, .code, .filename, .command, .type, .token, .errorname { font-family: "Consolas", monospace; }

.sgmltag-element { color: #039; font-weight: bolder; }

.sgmltag-attribute { color: #073; }

.sgmltag-attvalue { color: steelblue; }

.filename { color: black; font-weight: bolder; }

.toc-title, .example-title, .figure-title, .itemizedlist-title { font-weight: bold; }

.application { font-style: italic; }

.synopsis .emphasis em { font-weight: bold; font-style: normal; }

.type { color: darkolivegreen; }

.constant { color: steelblue; }

.listitem { list-style-type: square; }

.command { font-weight: bold; }

table.productionset { font-family: "Consolas", monospace; background-color: #fafafa; }

:link:hover .errorname, .errorname { color: #570057; text-decoration-color: #570057; }

.formalpara-title { font-weight: bold; }

.programlisting, .screen, .cmdsynopsis, .literallayout { padding: 1em; background-color: #fafafa; font-size: 17px; }

.literallayout p, .cmdsynopsis p { margin: 0em; }

.synopsis { white-space: normal; }

.synopsis .itemizedlist { margin-bottom: 0em; }

.navfooter table tr td[align="left"], .navfooter table tr td[align="right"] { width: 33.3333%; }

.informaltable table, .informaltable table tr, .informaltable table tr td { border-color: #bfbfbf !important; }

.informaltable table tr td { padding: .5ex; }

div.toc { position: fixed; overflow: auto; width: 25%; background-color: #ebf7f4; top: 0px; bottom: 0px; left: 0px; right: 25%; font-size: smaller; }

div.toc > * { margin: 1pc; }
