@charset "UTF-8";
@import "default.scss";

body
{
	font-family: "PT Sans", sans-serif;
}

code,
tt
{
	font-family: "Consolas", monospace;
}

.type
{
	color: darkolivegreen;
}

.constant
{
	color: crimson;
}
