@namespace url(http://www.w3.org/1999/xhtml);
@import "highlight.scss";

//$background-color-body: lightskyblue;
$background-color-body: #FAFAFA;
$font-family-body: "Segoe UI", "PT Sans", sans-serif;
$color-title: #A52A2A; //darken(cornflowerblue, 40%); //darken($background-color-body, 60%);
$background-color-html: $background-color-body;//$color-title;
//$color-link: darken(darkgreen, 5%);
$color-link: darkslategray;
$color-visited: $color-link;//darken($color-link, 7.5%);
$color-filename: black;
$background-color-programlisting: lighten($background-color-body, 5%);

html
{
	background-color: $background-color-html;
	height: 100%
}

body
{
	position: static;
	overflow: auto;
	font-size: 17px;
	max-width: 960px;
	width: 50%;
	min-height: 100%;
	margin: 0pc auto 0pc 0pc;
	top: 0px;
	bottom: 0px;
	background-color: $background-color-body;
	font-family: $font-family-body;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	border-right: 4px dotted $color-title;
}

body > *
{
	margin: 1pc 2pc 1pc 2pc;
}

p
{
	text-align: justify;
	hyphens: auto;
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
}

h1, h2, h3, h4, h5, h6
{
	color: $color-title;
}

:link
{
	color: $color-link;
	text-decoration: none;
}

:visited
{
	color: $color-visited;
}

:link:hover
{
	text-decoration: underline;
}

hr
{
	border: solid $color-title 1px;
}

.navfooter,
.navheader
{
	font-size: smaller;
}

.toc dl
{
	margin:
	{
		top: 0px;
		bottom: 0px;
	}
}

.programlisting,
.literallayout,
.sgmltag-element,
.sgmltag-attribute,
.sgmltag-attvalue,
.code,
.filename,
.command
{
	font-family: "Consolas", "Liberation Mono", monospace;
	font-size: 16px;
}

.sgmltag-element
{
	color: $color-hl-tag;
	font-weight: bolder;
}

.sgmltag-attribute
{
	color: $color-hl-attribute;
}

.sgmltag-attvalue
{
	color: $color-hl-constant;
}

.filename
{
	color: $color-filename;
	font-weight: bolder;
}

.programlisting
{
	font-size: smaller;
}

.toc-title,
.example-title,
.figure-title,
{
	font-weight: bold;
}

.application
{
	font-weight: bold;
}

.synopsis
{
	font-size: 16px;
	white-space: normal;
}

.synopsis .emphasis em
{
	font-weight: bold;
	font-style: normal;
}

.type
{
	font-family: monospace;
	color: darkolivegreen;
}

.constant
{
	color: $color-hl-constant;
}

.itemizedlist-title
{
	font-weight: bold;
}

.listitem
{
	list-style-type: square;
}

.token,
.errorname
{
	font-family: monospace;
}

.command
{
	font-weight: bold;
}

table.productionset
{
	font-family: monospace;
}

:link:hover .errorname,
.errorname,
{
	//color: #A22;
	//color: #A40;
	color: #225;
	-moz-text-decoration-color: #A22;
	text-decoration-color: #A22;
}

.formalpara-title
{
	font-weight: bold;
}

.programlisting,
.synopsis,
.cmdsynopsis,
.literallayout
{
	padding: 1em;
	//background-color: lighten($background-color-body, 3%);
	background-color: $background-color-programlisting;
	border-radius: .5em;
}

.literallayout p,
.cmdsynopsis p,
{
	margin: 0em;
}

.synopsis .itemizedlist
{
	margin-bottom: 0em;
}

.navfooter table tr td
{
	&[align="left"],
	&[align="right"]
	{
		width: 33.3333%;
	}
}

.informaltable table,
.informaltable table tr,
.informaltable table tr td
{
	border-color: darken($background-color-body, 25%) !important;
}

.informaltable table tr td
{
	padding: .5ex;
}

div.toc
{
	position: fixed;
	overflow: auto;
	width: 20%;
	//height: 90%;
	background-color: $background-color-body;
	top: 0px;
	bottom: 0px;
	left: 50%;
	font-size: smaller;
	margin-left: 1pc;
}

div.toc > *
{
	margin: 1pc;
}
