---

name: Java CI

on:
  create
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ant{,-optional} \
            docbook-{xsl-{ns,saxon},mathml} \
            graphviz \
            ivy \
            javacc \
            junit4 \
            libjline-java{,-doc} \
            libxerces2-java \
            libxslthl-java \
            openjdk-17-{jdk-headless,doc} \
            python3-m2crypto \
            osc \
            sassc
      - name: Setup
        run: |
          git config tar.tar.xz.command 'xz -9'
      - name: Build
        env:
          JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ant -lib /usr/share/java/xercesImpl.jar:/usr/share/java/ivy.jar:/usr/share/java/junit4.jar \
            -v -noinput \
            -Dlinux.flavour=debian \
            build
          echo \
          '<html xmlns="http://www.w3.org/1999/xhtml">
          <head><meta http-equiv="refresh" content="0; url=html/"/></head>
          </html>' \
            >target/doc/index.xhtml
      - name: Test
        env:
          JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ant -lib /usr/share/java/ivy.jar:/usr/share/java/junit4.jar \
            -v -noinput \
            -Dlinux.flavour=debian \
            test
      - name: Deploy site
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          BRANCH: gh-pages
          FOLDER: target/doc
      - name: Commit to OBS
        env:
          JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
          OBS_PASSWORD: ${{ secrets.OBS_PASSWORD }}
        run: |
          ant -lib /usr/share/java/ivy.jar -v -noinput -Dlinux.flavour=debian obs.commit
