name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
    branches: [master]
env:
  PRJ_NAME: psylla
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed:latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Install dependencies
        run: |
          zypper -n --gpg-auto-import-keys ar -p1 \
            obs://home:urbic:coneforest/openSUSE_Tumbleweed home:urbic:coneforest
          zypper -n --gpg-auto-import-keys ar -p2 \
            obs://Java:packages/openSUSE_Tumbleweed Java:packages
          zypper -n --gpg-auto-import-keys in -y \
            ant{,-apache-resolver,-junit} \
            docbook5-xsl-stylesheets \
            git \
            glibc-locale \
            graphviz \
            ivy{,-local} \
            'java-devel>=21' \
            jacoco \
            javacc \
            javapackages-tools \
            'mvn(coneforest:clianthus)' \
            'mvn(jline:jline:1)' \
            'mvn(net.sf.docbook:docbook-xsl-saxon)' \
            'mvn(net.sf.xslthl:xslthl)' \
            'mvn(saxon:saxon)' \
            osc \
            rsync \
            sassc
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure Git
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git config tar.tar.xz.command 'xz -9'
      - name: Build and test
        env:
          LANG: C.UTF-8
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run: |
          env CLASSPATH=$(build-classpath xerces-j2-xml-apis) \
            ant -Divy.mode=local build test coverage
          echo '<html xmlns="http://www.w3.org/1999/xhtml">
            <head><meta http-equiv="refresh" content="0; url=html/"/></head>
            </html>' >target/doc/index.xhtml
          cp -rf target/reports/jacoco target/doc
      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: target/doc/jacoco/jacoco.csv
          badges-directory: target/doc/jacoco
      - name: Deploy site
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: gh-pages
          FOLDER: target/doc
      - name: Commit to OBS
        env:
          OBS_PASSWORD: ${{ secrets.OBS_PASSWORD }}
        run: |
          ant -v -noinput obs.commit
      - name: Deploy package
        #if: startsWith(github.event.ref, 'refs/tags/v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ant -Divy.mode=local -v -noinput deploy
